<div class="container">
  <div class="row">
    <div [ngClass]="{'col-md-12': !editMode, 'col-md-8': editMode}">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of players" (click)="editPlayer(p)">
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
            <td>{{p.position}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="!editMode" class="col-md-4">
      <edit-player [player]="selectedPlayer"></edit-player>
    </div>
  </div>
</div>